<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yang.cae.modules.mapper.MessageExamMapper">
    <resultMap id="MessageExamMap" type="com.yang.cae.modules.entity.MessageExam"/>
    <select id="queryData" resultMap="MessageExamMap">
        select * from message_exam
        where exam_name
                  like concat('%',#{queryData},'%');
    </select>
    <select id="getRecommendByNull" resultMap="MessageExamMap">
        SELECT * FROM `message_exam`
        where recommend_major is null
          and  recommend_profession is null;
    </select>
    <select id="getRecommendByMajor" resultMap="MessageExamMap">
        SELECT * FROM `message_exam`
        where recommend_major = #{major}
          and  recommend_profession is null;
    </select>
    <select id="getRecommendByProfession" resultMap="MessageExamMap">
        SELECT * FROM `message_exam`
        where recommend_major is null
          and  recommend_profession = #{profession}
    </select>
    <select id="getRecommendByMajorAndProfession" resultMap="MessageExamMap">
        SELECT * FROM `message_exam`
        where recommend_major =  #{major}
          and  recommend_profession = #{profession}
    </select>
</mapper>